/* Square (Ekierka) in Materials (Right Side -> Fade from Right) */
.icon-square-materials {
    bottom: 50px;
    right: -400px;
    width: 600px;
    transform: rotate(0deg);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 60%);
    mask-image: linear-gradient(to left, transparent 0%, black 60%);
    z-index: 0;
}

@media (max-width: 768px) {
    .icon-square-materials {
        right: -120px;
        top: 60%;
        bottom: auto;
        transform: translateY(-50%);
        width: 350px;
        /* Adjust size for mobile */
        opacity: 0.15;
    }
}